
body {
  margin:0px;
  font-family: 'Merriweather', serif;
  color: #333;
  padding-bottom: 15px;
}

.jumbotron {
  background: #EEE;
  padding: 48px 0px;
  margin-bottom: 30px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron h1 {
  font-size: 48px;
  margin-bottom:0px;
}

.subtitle {
  font-family: 'Barlow', sans-serif;
  margin-top:0px;
  font-weight: bold;
  padding-left: 6px;
}

h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
}

h1 {
  font-size: 290%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #1b5bc1;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .container{
    width: 750px;
  }

  .jumbotron h1 {
    font-size: 63px;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron > .container{
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron > .container{
    width: 1170px;
  }
}
