
body {
  margin:0px;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  padding-bottom: 15px;
}

.jumbotron {
  background: #EEE;
  padding: 48px 0px;
  margin-bottom: 30px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron h1 {
  font-size: 48px;
  margin-bottom:0px;
  font-weight: lighter;
}

.subtitle {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin-top:0px;
  padding-left: 6px;
}

h1, h2, h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 290%;
}

a {
  text-decoration: none;
  color: #1b5bc1;
}

a:hover {
  text-decoration: underline;
}

body > a {
  color: inherit;
}

body > a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container{
    width: 750px;
  }

  .jumbotron h1 {
    font-size: 63px;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron > .container{
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron > .container{
    width: 1170px;
  }
}

.alert-main {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
