body {
  margin:0px;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding-bottom: 15px;
  max-width: 100%;
  box-sizing: border-box;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.jumbotron {
  background: #EEE;
  padding: 48px 0px;
  margin-bottom: 30px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron h1 {
  font-size: 48px;
}

.subtitle {
  margin-top:0px;
  font-weight: bold;
  padding-left: 6px;
}

.navbar {
  background: #EEE;
  padding: 1rem 0rem;
  border-bottom: 1px solid #DDD;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.navbar a {
  color: #666;
}

p.pub_date {
  margin-bottom: 0.1rem;
}

h1, h2, h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

h2, h3 {
  color: black;
}

h1 {
  margin-top: 0.1rem;
}

a {
  text-decoration: none;
  color: #1b5bc1;
}

a:hover {
  text-decoration: underline;
}

p, li, blockquote {
  text-align: justify;
}

/* Article Listing */

ol.article-listing {
  list-style-type: none;
  padding-left: 0px;
  font-size: 120%;
  text-align: left;
}

.article-listing li {
  line-height: 0.9;
}

.article-listing .pubdate {
  margin-top: 0.5em;
  font-size: 66%;
}

/* preformated */

pre {
  overflow: scroll;
  background: #F4F4F4;
  color: #666;
  padding: 5px;
  border: 1px solid #DDD;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .jumbotron h1 {
    font-size: 63px;
  }
}

@media screen and (min-width: 992px) {
  .container-large{
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container-large{
    width: 1170px;
  }
}
