body {
  margin:0px;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  padding-bottom: 15px;
  max-width: 100%;
  box-sizing: border-box;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.jumbotron {
  background: #EEE;
  padding: 48px 0px;
  margin-bottom: 30px;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;
}

.container.container-large {
  max-width: 60em;
}

.jumbotron h1 {
  font-size: 48px;
  margin: 0.1em;
}

.subtitle {
  margin-top:0px;
  font-weight: bold;
  padding-left: 6px;
}

.navbar {
  background: #EEE;
  padding: 1rem 0rem;
  border-bottom: 1px solid #DDD;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.navbar a {
  color: #999;
}

.navbar a:hover {
    text-decoration: none;
    color: #666;
}

p.pub_date {
  margin-bottom: 0.1rem;
}

h1, h2, h3 {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  text-decoration: none;
}

h2, h3 {
  color: black;
}

h1 {
  margin-top: 0.1em;
}

a {
  text-decoration: none;
  color: #1b5bc1;
}

a:hover {
  text-decoration: underline;
}

p, ul, ol, blockquote {
  text-align: justify;
  line-height: 1.4;
}

/* Article Listing */

ol.article-listing {
  list-style-type: none;
  padding-left: 0px;
  font-size: 120%;
  text-align: left;
  line-height: 1;
  font-family: 'Fira Sans Condensed';
}

.article-listing li {
    padding: 0.4em 0em;
}

.article-listing .pubdate {
  margin-top: 0.5em;
  font-size: 66%;
  font-family: 'Fira Sans';
}

/* preformated */

pre {
  overflow: scroll;
  background: #F4F4F4;
  color: #666;
  padding: 5px;
  border: 1px solid #DDD;
  font-size: 1rem;
}
